body {
  background-color: #8c96a7;
  background: url(backtiles.png);
}

img {
  border: none;
}

p {
  text-align: left;
  padding-top: 10px;
}

input {
  padding: 4px;
  font-size: 14px;
}

#header{
  font-size: 20px;
  z-index: 10;
}
#header a:hover {
  color: white;
}

#board-container {
  position: absolute;
  left: 245px;
  top: 119px;
  width: 514px;
  height: 466px;
  overflow: hidden;
}

#board {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 514px;
  height: 466px;
  background-color: #d4d8df;
}

#board-grabber {
  background: url(transparent.png);
  left: 245px;
  top: 119px;
  width: 514px;
  height: 466px;
  position: absolute;
}

/*
 * Game Over
 */
#gameover-modal {
  display: none;
  z-index: 50;
  background-color: black;
  opacity: 0.6;
  left: 245px;
  top: 119px;
  width: 514px;
  height: 466px;
  position: absolute;
}
#gameover-container {
  display: none;
  z-index: 60;
  left: 245px;
  top: 119px;
  width: 514px;
  height: 466px;
  position: absolute;
  padding: 0px;
  text-shadow: 0px 2px 3px #333;
}
#gameover-container p,
#gameover-container a {
  font-size: 24px;
  color: white;
}
#gameover-container h1 {
  font-size: 48px;
  font-weight: bold;
  color: white;
}
.pts-table {
  color: #ddd;
  width: 94%;
  font-size: 24px;
  text-shadow: 0px 2px 3px #333;
}
.pts-table th {
  color: white;
  text-align: right;
  padding: 4px;
}
.pts-table td {
  text-align: right;
}

/*
 * Pieces
 */
.piece-core {
  width: 67px;
  height: 67px;
  position: absolute;
}

.piece-blank {
  background-color: #000;
}

.piece-green {
  background-color: #8eb500;
}
.piece-pink {
  background-color: #840090;
}

.piece-cross {
  background-image: url(cross.png);
}

.piece-circle {
  background-image: url(circle.png);
}

/*
 * Grids
 */
.grid-core {
  position: absolute;
  width: 200px;
  height: 200px;
}

.grid-pending {
  background-color: #70adf9;
}
.grid-green {
  background-color: #09af1e;
}
.grid-pink {
  background-color: #f970f9;
}
.grid-red {
  background-color: #af091e;
}

.grid-cursor {
  background-color: #042854;
}

.back-the-fuck-ground {
  height: 636px;
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.stuff {
  position: relative;
  height: 100%;
}

#bubble {
  z-index: 20;
  display: none;
  background: url(bubble.png) no-repeat;
  font-size: 18pt;
  font-weight: bold;
  left: 650px;
  top: 10px;
  width: 339px;
  height: 173px;
  position: absolute;
}

#bubble-content {
  margin: 42px 8px;;
}

#lifebar1-back,
#lifebar2-back {
  left: 19px;
  top: 373px;
  width: 195px;
  height: 30px;
  position: absolute;
}

#lifebar2-back {
  left: 799px;
}

#lifebar1-woot,
#lifebar2-woot {
  background: url(lifebar.png) no-repeat;
  width: 195px;
  height: 30px;
}

#red-button {
  width: 128px;
  height: 103px;
  position: absolute;
  left: 440px;
  top: 600px;
  background: url(button.png) no-repeat;
  cursor: pointer;
}

#red-button.pressed {
  background-position: 0px -103px;
}

#count-down {
  font-size: 48px;
  font-weight: bold;
  position: absolute;
  width: 100px;
  text-align: center;
  left: 453px;
  top: 70px;
  text-shadow: 0px 2px 3px #555;
}

.player-name {
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  width: 210px;
  text-align: center;
  top: 126px;
  text-shadow: 0px 2px 3px #333;
}
.player1-name {
  left: 10px;
}
.player2-name {
  right: 20px;
}

.player-image {
  position: absolute;
  width: 195px;
  height: 190px;
  top: 177px;
}
.player1-image {
  left: 18px;
}

.player-stats {
  position: absolute;
  width: 210px;
  height: 190px;
  top: 417px;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 0px 2px 3px #333;
  text-align: left;
}
.player1-stats {
  left: 20px;
}
.player2-stats {
  right: 15px;
}
